﻿@using SkiaSharp
@using SkiaSharp.Views.Blazor

@inject HttpClient HttpClient

@page "/"

<div style="width:100vw; height:100vh;">
    @if (!_initializationFinished)
    {
        <h2>loading assets...</h2>
    }
    else
    {
        <SKCanvasView OnPaintSurface="PaintSurface" EnableRenderLoop="true" style="width: 100%; height: 100%" @onmousemove="MouseEventHandler" /> 
    }
</div>

@code {
    int _tickIndex = 1;
    double _mouseOffsetX;
    double _mouseOffsetY;
    private readonly List<SKBitmap>? _backgroundBitmaps = new List<SKBitmap>();
    private readonly List<SKBitmap>? _dipBitmaps = new List<SKBitmap>();
    private readonly Random _rand = new();

    private bool _initializationFinished;

    protected override async void OnInitialized()
    {
        await LoadAssets();
        StateHasChanged();
    }

    private void MouseEventHandler(MouseEventArgs args)
    {
        _mouseOffsetX = args.OffsetX;
        _mouseOffsetY = args.OffsetY;
    }

    private void PaintSurface(SKPaintSurfaceEventArgs e)
    {
        
        var canvas = e.Surface.Canvas;
        
        if (_tickIndex == 1)
        {
            canvas.Clear(SKColors.Indigo);
            var bg = _backgroundBitmaps?.MinBy(_ => Guid.NewGuid());
            Console.WriteLine(canvas.LocalClipBounds.ToString());
            canvas.DrawBitmap(bg, new SKRect(0, 0, canvas.LocalClipBounds.Width, canvas.LocalClipBounds.Height));
        }

        canvas.Translate((float)_mouseOffsetX, (float)_mouseOffsetY);
        canvas.RotateDegrees(_tickIndex*2);

        // Draw the image at the cursor's position inside a rectangle
        if (_dipBitmaps != null)
        {
            int index = _rand.Next(_dipBitmaps.Count);
            var rect = new SKRect(0, 0, _dipBitmaps[index].Width, _dipBitmaps[index].Height);
            canvas.DrawBitmap(_dipBitmaps[index], rect);
            canvas.RotateDegrees(-(_tickIndex*5));
            canvas.Translate(15f+(_tickIndex/10f), 25f+(_tickIndex/10f));
            canvas.DrawBitmap(_dipBitmaps[index], rect);
        }

        _tickIndex++; // keep at bottom
    }
    
    private async Task<SKBitmap> DownloadImageAsync(string url)
    {
        using HttpResponseMessage response = await HttpClient.GetAsync(url);
        await using Stream stream = await response.Content.ReadAsStreamAsync();
        return SKBitmap.Decode(stream);
    }

    private async Task LoadAssets()
    {
        for (int i = 1; i < 10; i++)
        {
            _dipBitmaps?.Add(await DownloadImageAsync($"/images/dip{i}.png"));
        }
        for (int i = 1; i < 3; i++)
        {
            _backgroundBitmaps?.Add(await DownloadImageAsync($"/images/bg{i}.jpg"));
        }
        _initializationFinished = true;
        Console.WriteLine("initialisation complete");   
    }
}
